* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    color:aliceblue;
    background: linear-gradient(blue, blueviolet);
}

body {
    background-color: #7B7372;
}

table {
    display: flex;
    flex-direction: column;
  }

h2 {
    color: aliceblue;
}

